.item-list-page:nth-child(1) {
  background-color: blue; }

.item-list-page:nth-child(2) {
  background-color: #ff0049; }

.item-list-page:nth-child(3) {
  background-color: blue; }

.item-list-page:nth-child(4) {
  background-color: #92ff00; }

.item-list-page:nth-child(5) {
  background-color: blue; }

.item-list-page:nth-child(6) {
  background-color: #00dbff; }

.item-list-page:nth-child(7) {
  background-color: blue; }

/* the good way */
.box-1 {
  width: 200px;
  height: 200px; }

.box-2 {
  width: 120px;
  height: 120px; }

.box-1, .box-2 {
  border: 1px solid #ccc;
  border-radius: 10px; }

.tab {
  background: #e5e5e5;
  border: 1px solid silver;
  color: #666;
  display: inline-block;
  padding: 7px 18px 7px;
  text-decoration: none;
  position: relative;
  top: 1px; }
  .tab.is-selected {
    background: white;
    border-bottom-color: white;
    color: #333; }
