/* MOBILE :  Portrait */
@media screen and (max-device-width: 480px) and (orientation: portrait) {
	body {
		background-color: orange;
	}
}
/* MOBILE :  Landscape */
@media screen and (max-device-width: 480px) and (orientation: landscape) {
	body {
		background-color: red;
	}
}
/* LAPTOPS */
@media screen and (min-width: 1200px) and (max-width: 1600px) {
	body {
		background-color: yellow;
	}
}